<footer id="footer" class="footer">
  <div class="container">
    <div class="col-xxl-10 mx-auto">
      <nav aria-label="Footer" class="footer__main-menu pt-4">
        <div class="row justify-content-between">
          <div class="col-xl-2 col--collapsible"><a class="footer__main-menu-title d-none d-xl-block" href="/supermarketmobile/">Why Tesco Mobile</a>
          <h2 class="collapsed d-xl-none" data-bs-toggle="collapse" href="#footer-collapse-1" role="button" aria-expanded="false" aria-controls="footer-collapse-1">Why Tesco Mobile
          </h2>
          <div class="footer__list collapse d-xl-block" id="footer-collapse-1">
            <ul>
              <li class="custom-btn__link-arrow"><a href="/our-network/">Our Network</a>
            </li>
            <li class="custom-btn__link-arrow"><a href="/clubcard">Tesco Clubcard</a>
          </li>
          <li class="custom-btn__link-arrow"><a href="/delivery">Delivery</a>
        </li>
        <li class="custom-btn__link-arrow"><a href="/app/">Our App</a>
      </li>
      <li class="custom-btn__link-arrow"><a href="/supermarketmobile/">About Us</a>
    </li>
  </ul>
</div>
</div>
<div class="col-xl-4 col--collapsible"><a class="footer__main-menu-title d-none d-xl-block" href="/help-centre/">Help Centre</a>
<h2 class="collapsed d-xl-none" data-bs-toggle="collapse" href="#footer-collapse-2" role="button" aria-expanded="false" aria-controls="footer-collapse-2">Help Centre
</h2>
<div class="footer__list collapse d-xl-flex justify-content-between" id="footer-collapse-2">
  <ul>
    <li class="custom-btn__link-arrow"><a href="/help-centre/getting-started">Getting Started</a>
  </li>
  <li class="custom-btn__link-arrow"><a href="/help-centre/Your-phone">Your Phone</a>
</li>
<li class="custom-btn__link-arrow"><a href="/help-centre/Your-Plan">Your Plan</a>
</li>
<li class="custom-btn__link-arrow"><a href="/roaming-and-international.aspx">International & Roaming</a>
</li>
</ul>
<ul>
  <li class="custom-btn__link-arrow"><a href="/help-centre/data-and-internet">Data & Internet</a>
</li>
<li class="custom-btn__link-arrow"><a href="/help-centre/coverage">Our Coverage</a>
</li>
<li class="custom-btn__link-arrow"><a href="/help-centre/">Visit the Help Centre</a>
</li>
<li class="custom-btn__link-arrow"><a href="/servicesnotifications">Service Notifications</a>
</li>
<li class="custom-btn__link-arrow"><a href="/OnlineSafety.aspx">Online safety</a>
</li>
</ul>
</div>
</div>
<div class="col-xl-2 col--collapsible"><a class="footer__main-menu-title d-none d-xl-block" href="/help-centre/contact-support.aspx">Get in touch</a>
<h2 class="collapsed d-xl-none" data-bs-toggle="collapse" href="#footer-collapse-3" role="button" aria-expanded="false" aria-controls="footer-collapse-3">Get in touch
</h2>
<div class="footer__list collapse d-xl-flex" id="footer-collapse-3">
  <ul>
    <li class="custom-btn__link-arrow"><a href="/help-centre/contact-support.aspx">Chat now</a>
  </li>
  <li class="custom-btn__link-arrow"><a href="/help-centre/contact-support.aspx">Call</a>
</li>
<li class="custom-btn__link-arrow"><a href="/help-centre/contact-support.aspx">Email</a>
</li>
<li class="custom-btn__link-arrow"><a href="/store-locator">Store Locator</a>
</li>
</ul>
</div>
</div>
</div>
</nav>
<div class="footer__social-network-bar d-flex justify-content-center">
  <ul class="d-flex m-0">
    <li><a href="https://www.facebook.com/tescomobileireland?ref=ts" target="_blank" rel="noopener noreferrer" aria-label="Visit our Facebook page"><img src="/images/icons/facebook.svg" alt="" aria-hidden="true"></a>
  </li>
</ul>
</div>
<div class="footer__bottom-bar">
  <ul class="d-flex flex-wrap flex-xl-nowrap justify-content-between p-0 m-0">
    <li><button type="button" id="ot-sdk-btn" class="footer-cookies ot-sdk-show-settings">Manage cookies</button>
  </li>
  <li><a href="/about-us/terms-and-conditions">Terms & Conditions</a>
</li>
<li><a href="/help-centre/getting-started/other-call-charges">Other Call Charges</a>
</li>
<li><a href="/about-us/privacy-policy">Privacy Policy</a>
</li>
<li><a href="/about-us/corporate-responsibility">Corporate Responsibility</a>
</li>
<li><a href="/code-of-practice">Code of Practice</a>
</li>
<li><a href="/customer-notification">Customer Notifications</a>
</li>
<li><a href="/about-us/sitemap">Sitemap</a>
</li>
<li><a href="/about-us/privacy-policy">Cookie Policy</a>
</li>
<li><a href="/about-us/accessibility">Accessibility</a>
</li>
</ul>
</div>
<div class="footer__copywrite">
  <div class="d-xl-flex justify-content-between">
    <div class="footer__copywrite-text">
      <p class="m-0">Copyright Tesco Mobile Ireland Ltd.<span id="year"></span>
    </p>
  </div>
  <ul class="d-xl-flex p-0 m-0">
    <li>Registered in Ireland
    </li>
    <li>Reg.No: 421281
    </li>
    <li>Registered Office: Gresham House, Marine Road, Dun Laoghaire, Dublin
    </li>
  </ul>
</div>
</div>
</div>
</div>
</footer>