body {
    font-family: $base-font;
    font-weight: 400;
    @include rem(font-size, 16px);
    color: $text;
    background-color: $white;
    overflow-x: hidden;
}

html {
    overflow-x: hidden;
}



picture {
    display: inline-block;
    //width: 100%;
    //img, source {
        //width: 100%;
    //}
}

.site-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;

    &.active {
        display: block;
    }
}

.embed-responsive {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
    &-16by9::before {
        display: block;
        content: "";
        padding-top: 56.25%;
    }

    iframe {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
}


.py-section {
    @include rem(padding, 20px 0);
    @include mqMin($ipad){
        @include rem(padding, 52px 0);
    }
}

.fs-2 {
    @include rem(font-size, 32px, true);
}

.flex-fill {
    flex: 1 1 auto !important;
}