body {
    font-family: $base-font;
    font-weight: 400;
    @include rem(font-size, 16px);
    color: $text;
    background-color: $white;
    overflow-x: hidden;
}

html {
    overflow-x: hidden;
}