@font-face {
  font-family: "TescoModern-Regular";
  src: url("/public/fonts/TescoModern-Regular.woff") format("woff"),
    url("/public/fonts/TescoModern-Regular.woff2") format("woff2"),
    url("/public/fonts/TescoModern-Regular.ttf") format("truetype"),
    url("/public/fonts/TescoModern-Regular.eot")
      format("embedded-opentype"),
    url("/public/fonts/TescoModern-Regular.eot?#iefix")
      format("embedded-opentype");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TescoModern-Italic";
  src: url("/public/fonts/TescoModern-Italic.woff") format("woff"),
    url("/public/fonts/TescoModern-Italic.woff2") format("woff2"),
    url("/public/fonts/TescoModern-Italic.ttf") format("truetype"),
    url("/public/fonts/TescoModern-Italic.eot")
      format("embedded-opentype"),
    url("/public/fonts/TescoModern-Italic.eot?#iefix")
      format("embedded-opentype");
  font-display: swap;
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "TescoModern-Bold";
  src: url("/public/fonts/TescoModern-Bold.woff") format("woff"),
    url("/public/fonts/TescoModern-Bold.woff2") format("woff2"),
    url("/public/fonts/TescoModern-Bold.ttf") format("truetype"),
    url("/public/fonts/TescoModern-Bold.eot")
      format("embedded-opentype"),
    url("/public/fonts/TescoModern-Bold.eot?#iefix")
      format("embedded-opentype");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "TescoModern-BoldItalic";
  src: url("/public/fonts/TescoModern-BoldItalic.woff") format("woff"),
    url("/public/fonts/TescoModern-BoldItalic.woff2") format("woff2"),
    url("/public/fonts/TescoModern-BoldItalic.ttf") format("truetype"),
    url("/public/fonts/TescoModern-BoldItalic.eot")
      format("embedded-opentype"),
    url("/public/fonts/TescoModern-BoldItalic.eot?#iefix")
      format("embedded-opentype");
  font-display: swap;
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "TescoModern-Medium";
  src: url("/public/fonts/TescoModern-Medium.woff") format("woff"),
    url("/public/fonts/TescoModern-Medium.woff2") format("woff2"),
    url("/public/fonts/TescoModern-Medium.ttf") format("truetype"),
    url("/public/fonts/TescoModern-Medium.eot")
      format("embedded-opentype"),
    url("/public/fonts/TescoModern-Medium.eot?#iefix")
      format("embedded-opentype");
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "TescoModern-MediumItalic";
  src: url("/public/fonts/TescoModern-MediumItalic.woff") format("woff"),
    url("/public/fonts/TescoModern-MediumItalic.woff2") format("woff2"),
    url("/public/fonts/TescoModern-MediumItalic.ttf") format("truetype"),
    url("/public/fonts/TescoModern-MediumItalic.eot")
      format("embedded-opentype"),
    url("/public/fonts/TescoModern-MediumItalic.eot?#iefix")
      format("embedded-opentype");
  font-display: swap;
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "TescoModern-Light";
  src: url("/public/fonts/TescoModern-Light.woff") format("woff"),
    url("/public/fonts/TescoModern-Light.woff2") format("woff2"),
    url("/public/fonts/TescoModern-Light.ttf") format("truetype"),
    url("/public/fonts/TescoModern-Light.eot")
      format("embedded-opentype"),
    url("/public/fonts/TescoModern-Light.eot?#iefix")
      format("embedded-opentype");
  font-display: swap;
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "TescoModern-LightItalic";
  src: url("/public/fonts/TescoModern-LightItalic.woff") format("woff"),
    url("/public/fonts/TescoModern-LightItalic.woff2") format("woff2"),
    url("/public/fonts/TescoModern-LightItalic.ttf") format("truetype"),
    url("/public/fonts/TescoModern-LightItalic.eot")
      format("embedded-opentype"),
    url("/public/fonts/TescoModern-LightItalic.eot?#iefix")
      format("embedded-opentype");
  font-display: swap;
  font-weight: 100;
  font-style: italic;
}
